<ul>
  <% if !chats.empty? %>
    <% chats.each do |chat|%>
      <li>
        <%= link_to '#', 'data-turbolinks-track': 'reaload' do %>
          <%= chat.name %> 
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>