<section class="group-content-container">
  <aside class="group-side-menu">
    <header>
      <h3>
        <%= @group.name %>
        <% if @group.user_adm.id = @current_user.id %>
          <i class="fas fa-cog" title="Edit group data" data-toggle="popover"></i>
        <% end %>
      </h3>
    </header>
    <div class="text-channel-list">
      <%= render 'messaging/text_channel/partials/list', group: @group, current_user: @current_user %>
    </div>
    <div id="modal-container">
    </div>
  </aside>
  <aside class="group-menu-selection-content">

  </aside>
</section>