<table class="table table-hover">
  <thead class="table-primary">
    <tr>
      <th> Name </th>
      <th> Email </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody>
    <% if !received_invites.empty? %>
      <% received_invites.each do |invite|%>
        <tr>
          <td> <%= invite.inviter.name %> </td>
          <td> <%= invite.inviter.email %> </td>
          <td> 
            <%= link_to messaging_accept_invite_path(invite), remote: true, method: :put do %>
              <i class="fas fa-check"></i>
            <% end %>
            <%= link_to messaging_decline_invite_path(invite), remote: true, method: :delete do %>
              <i class="fas fa-times"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3"> You haven't received invites </td>
      </tr>
    <% end %>
  </tbody>
</table>