<div>
  <%= form_bulder.text_field :name, placeholder: 'Group\'s name ' , class: 'form-control', required: true, autocomplete: 'off' %>
</div>
<div>
  <%= form_bulder.text_area :description, placeholder: 'Add group\'s description' , class: 'form-control', autocomplete: 'off' %>
</div>