<ul>
  <% if !contacts.empty? %>
    <% contacts.each do |contact|%>
      <li>
        <%= link_to '#', 'data-turbolinks-track': 'reaload' do %>
          <%= contact.name %> 
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>