<table border="1px">
  <tbody>
    <% if !contacts.empty? %>
      <% contacts.each do |contact|%>
        <tr>
          <td> <%= contact.name %> </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>