<nav>
    <h1>Welcome to Slick</h1>
    <ul>
        <li><%= link_to "Login", presentation_user_login_path %></li>
        <li><%= link_to "Sign up", presentation_user_sign_up_path%></li>
    </ul>
</nav>
<p>That's right! Slick! The app is mine and I'm keeping the name.</p>
