<nav>
    <h1>Welcome to Slick</h1>
    <ul>
        <li><%= link_to "Login", nil %></li>
        <li><%= link_to "Sign up", nil%></li>
    </ul>
</nav>
<p>That's right! Slick! The app is mine and I'm keeping the name.</p>
